{
  "extends": ["standard", "standard-react", "plugin:cypress/recommended"],
  "plugins": ["react-hooks", "cypress"],
  "env": {
    "jest": true,
    "cypress/globals": true
  },
  "rules": {
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
