{
  "extends": ["standard", "standard-react"],
  "plugins": ["react-hooks", "cypress"],
  "env": {
    "jest": true,
    "cypress/globals": true
  },
  "rules": {
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "cypress/no-unnecessary-waiting": "error",
    "cypress/no-assigning-return-values": "error"
  }
}
